# ----------------------------------------------------------------------------
# MDN вмісту ВЛАСНИКИ КОДІВ
# ----------------------------------------------------------------------------
# Порядок важливий. Останній відповідний шаблон має пріоритет. Для отримання більш детальної інформації див:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------
#
# ----------------------------------------------------------------------------
# ВЛАСНИКИ ЗА ЗАМОВЧУВАННЯМ
# ----------------------------------------------------------------------------
# *    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# ВЛАСНИК(И) АНГЛІЙСЬКОГО ВМІСТУ ЗА ЗАМОВЧУВАННЯМ
# ----------------------------------------------------------------------------
# /files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ВЛАСНИК(И) АНГЛІЙСЬКОГО ВМІСТУ ВЕБ-ДОСТУПНОСТІ
# ----------------------------------------------------------------------------
# /files/en-us/web/accessibility/    @mdn/yari-content-accessibility
# /files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ВЛАСНИК(И) АНГЛІЙСЬКОГО ВМІСТУ CSS 
# ----------------------------------------------------------------------------
# /files/en-us/web/css/    @mdn/yari-content-css
# /files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ВЛАСНИК(И) АНГЛІЙСЬКОГО ВМІСТУ HTML
# ----------------------------------------------------------------------------
# /files/en-us/web/html/    @mdn/yari-content-html
# /files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ВЛАСНИК(И) АНГЛІЙСЬКОГО ВМІСТУ JAVASCRIPT
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ВЛАСНИК(И) АНГЛІЙСЬКОГО ВМІСТУ HTTP
# ----------------------------------------------------------------------------
# /files/en-us/web/http/    @mdn/yari-content-http
# /files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ВЛАСНИК(И) АНГЛІЙСЬКОГО ВМІСТУ WEB API
# ----------------------------------------------------------------------------
# /files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# EВЛАСНИК(И) АНГЛІЙСЬКОГО ВМІСТУ SVG
# ----------------------------------------------------------------------------
# /files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ВЛАСНИК(И) АНГЛІЙСЬКОГО ВМІСТУ MOZILLA ADD-ONS
# ----------------------------------------------------------------------------
# /files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons

# ----------------------------------------------------------------------------
# ВЛАСНИК(И) АНГЛІЙСЬКОГО ВМІСТУ MATHML
# ----------------------------------------------------------------------------
# /files/en-us/web/mathml/    @mdn/content-mathml


# ----------------------------------------------------------------------------
# ВЛАСНИК(И) ФАЙЛІВ КОНТРОЛЮ
# ----------------------------------------------------------------------------
# Це мають бути останні збіги у цьому файлі, оскільки будь-який запит на вилучення, який намагається змінити будь-який один 
# або більше з цих файлів, має бути переданий власникам, указаним тут.
# ----------------------------------------------------------------------------
# /.github/     @mdn/core-dev
# /*            @mdn/core-dev
# /*.md         @mdn/core-yari-content
# Це @schalkneethling, тому що робочий процес автоматичного об’єднання GHA використовує мій PAT і призначить мені.
# Якщо ми додамо іншого рецензента, автоматичне об’єднання перестане бути автоматичним.
# /package.json @schalkneethling
/yarn.lock    @schalkneethling
